gradio[oauth]==4.44.1
huggingface_hub==0.24.7
openai>=1.0.0
supabase>=2.0.0
python-dotenv>=1.0.0
realtime==2.3.0
chardet>=5.0.0
sentence-transformers>=2.0.0
einops>=0.7.0
pypdf>=4.2.0
beautifulsoup4>=4.12.3
pyttsx3>=2.90
transformers>=4.45.0
torch>=2.2.0
sentencepiece>=0.2.0
